%% Dependencies ================================================================
{deps, [
        {lager, ".*", {git, "git://github.com/basho/lager.git", {tag, "3.0.1"}}}
       ]}.

%% Compiler Options ============================================================
{erl_opts,
 [debug_info]}.

%% EUnit =======================================================================
{eunit_opts, [verbose,
              {report, {eunit_surefire, [{dir, "."}]}}]}.

{cover_enabled, true}.
{cover_print_enabled, true}.

%% Profiles ====================================================================
{profiles, [{dev, [{deps,
                    []}]}
           ]}.
